body {
  overflow: hidden;
  background: black;
}

.pretend-computer {
  position: relative;
  padding: 70px 30px 90px 30px;
  background: radial-gradient(ellipse at right top, rgb(151, 151, 144), rgb(144, 145, 137));
  display: inline-block;
}

.pretend-computer:before {
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: bold;
  font-family: monospace;
  content: "Welcome to jubalrife.com/net! Hit the power button to visit the main site";
  background: rgb(184, 184, 184);
  padding: 5px;
  border-radius: 5px;
}

.monitor-border {
  position: relative;
  border-left: 20px solid #61615e;
  border-top: 20px solid #81817a;
  border-bottom: 20px solid #989990;
  border-right: 20px solid #888888;
}

.monitor-border:after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: radial-gradient(ellipse at right top, rgba(255, 255, 255, .9), transparent 30%);
  content: ' '
}

.display-flair {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.spacer {
  flex-grow: 1;
}

.blinky-red {
  width: 10px;
  height: 10px;
  background: radial-gradient(rgb(148, 93, 93), rgb(104, 72, 72));
  display: block;
  border-left: 2px solid #61615e;
  border-top: 2px solid #81817a;
  border-bottom: 2px solid #989990;
  border-right: 2px solid #888888;
}

.blinky-red.on {
  background: radial-gradient(white 2%, yellow 4%, rgba(255, 1, 1, .5), orange);
}

.blinky-green {
  width: 10px;
  height: 10px;
  background: radial-gradient(rgb(88, 138, 107), rgb(72, 104, 88));
  display: block;
  border-left: 2px solid #61615e;
  border-top: 2px solid #81817a;
  border-bottom: 2px solid #989990;
  border-right: 2px solid #888888;
}

.blinky-green.on {
  background: radial-gradient(white 2%, yellowgreen);
}

.floppy {
  width: 230px;
  height: 10px;
  background: rgb(105, 104, 104);
  display: block;

  border-left: 2px solid #61615e;
  border-top: 2px solid #81817a;
  border-bottom: 2px solid #989990;
  border-right: 2px solid #888888;
}

.power {
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 100%;
  border: solid 1px rgb(129, 129, 129);
  background: radial-gradient(#bdbeb5 50%, #61615e);
  text-align: center;
  line-height: 30px;
  color: #61615e;
}

.power:hover {
  cursor: pointer;
}

.power:hover:active {
  height: 29px;
  width: 29px;
  border-top: 2px solid #61615e;
  border-left: 2px solid #61615e;
}

.console {
  margin: -5px;
  border-radius: 15px;
  width: 837px;
  max-height: 528px;
  font: 1.1rem Inconsolata, monospace;
  text-shadow: 0 0 5px #ecfdec;
  color: #16d416;
  position: relative;
  background-color: black;
  height: 100vh;
  overflow: hidden;
  background: #063b06;
  background-image: radial-gradient(#084908, black 120%);
  -webkit-animation-name: console-text-anim;
  -webkit-animation-duration: 0.08s;
  animation-name: console-text-anim;
  animation-duration: 0.08s;
  animation-iteration-count: infinite;
}

.console .line-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) 1px, transparent 1px, transparent 2px);
}

.console .console-text {
  display: block;
  padding: 2rem;
}

.console .offscreen {
  position: absolute;
  top: -1000px;
}

@-webkit-keyframes console-text-anim {
  0% {
    color: #16d416;
  }

  50% {
    color: #14c114;
  }

  100% {
    color: #16d416;
  }
}

@keyframes console-text-anim {
  0% {
    color: #16d416;
  }

  50% {
    color: #14c114;
  }

  100% {
    color: #16d416;
  }
}

.console::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.console ::selection {
  background: #0080FF;
  text-shadow: none;
}

.console pre {
  margin: 0;
}

.console .blinky-boi {
  animation: blink-cursor 1s step-start infinite;
}

@keyframes blink-cursor {
  50% {
    opacity: 0;
  }
}

.console .command-in:focus {
  outline: none;
}