* {
    --primary-color: #B9BAC0;
    --primary-color-light: #BEBFC5;
    --theme-color: var(--primary-color);
    --inactive-color: #cdcdcd;
    --border-color: #acacac;
    --bubble-color: #eaeaea;
}

body {
    background: #eaeaea;
}

.page {
    padding-bottom: 2in;
}

.bar {
    min-height: 186px;
    padding: 10px;
    background: var(--theme-color);
    margin-bottom: 0px;
    margin-top: 10px;
}

.bar:first-of-type {
    margin-bottom: 10px;
    margin-top: 0px;
}

.welcome {
    position: relative;
    height: 160px;
    margin-bottom: 10px;
}

.welcome img {
    position: absolute;
    left: 10px;
    top: 0;
    height: 160px;
    padding: 10px;
    background: white;
}

.welcome img:hover {
    cursor: pointer;
    filter: brightness(120%);
}

.welcome span {
    font-family: monospace;
    font-style: italic;
    position: absolute;
    top: 115px;
    left: 177px;
    font-size: 1.4em;
    position: relative;
    background: var(--bubble-color);
    border-radius: .4em;
    padding: 20px;
}

.welcome span:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0px;
    height: 0;
    border: 15px solid transparent;
    border-right-color: var(--bubble-color);
    border-left: 0;
    border-bottom: 0;
    margin-top: -3px;
    margin-left: -14px;
}

.about-me {
    max-width: 8.5in;
    margin: auto;
    padding: 0.5in 1in;
    box-shadow: 4px 4px 6px #b3b3b3;
    background: white;
}

.about-me>h1 {
    font-weight: normal;
    font-family: monospace;
    color: black;
    border-bottom: 1px solid #bbbbbb;
    font-size: 1.5em;
    margin: 0 0 10px 0;
    padding: 0 0 5px 0;
}

.about-me>div {
    margin-bottom: 10px;
}

@media only screen and (max-width: 1000px) {
    .welcome span {
        display: none;
    }

    .welcome {
        display: flex;
    }

    .welcome img {
        position: relative;
        margin: auto;
    }

    .about-me {
        padding: 20px;
    }
}

.blog-index {
    padding: 5px 10px;
    list-style-type: none;
    margin: 0;
}

.blog-index li a {
    text-decoration: none;
    display: block;
    padding: 10px;
    width: 100%;
}

.blog-index li:hover {
    cursor: pointer;
    background: var(--primary-color-light);
}

.blog-index .publish-date {
    padding-right: 20px;
    font-size: 0.8em;
    font-style: italic;
}

.action-wrap {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background: white;
}

.action-wrap .action-wrap-item {
    color: black;
    text-decoration: none;
    font-size: 1.3em;
    /*Hide select text*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.action-wrap .action-wrap-item:hover {
    cursor: pointer;
    rotate: 5deg;
}