.page-container{
    position:relative;
    max-width:1024px;
    .header {
        position:relative;
        font-size: 1.5em;
        padding:10px;
        +.author-tag{
            position:absolute;
            right:0;
            top:0;
            span{
                display: block;
                font-size: 0.8em;
            }
        }
    }
    .entry-container{
       padding:10px;
       border:solid 1px #d8d8d8;
       border-radius:2.5px;
    }
}
