$primary: #83868e;
$highlight: #78f178;
$theme: $primary;
$inactive:#cdcdcd;
$border: darken($inactive, 25%);
$tab-color: darken($theme, 40%);
$body: $theme;
$bubble-color:lighten($theme, 25%);
$social: $highlight;