@import "colors";

.tabs{
    padding: 0 0 29px 0;
    margin:0;
    width:100%;
    .tab{

        color:$tab-color;
        float:left;
        background:$inactive;
        display:inline;
        padding: 5px 10px;
        border:solid 1px $border;
        ::-moz-selection { background: transparent; }
        ::selection { background: transparent; }
        &:hover{
            cursor:pointer;
        }
        &.active{
            background:white;
            padding-bottom:6px;
            border-bottom:none;
        }
        span{
            padding-left:10px;
        }
    }
}
.active-tab-content{
    border:1px solid $border;
    .tab-content{
        overflow:auto;
        padding:10px;
        display:none;
        &.active{
            display:block;
        }
    }
}