@import "colors";
.tab-wrap{
    .tabs{
        padding: 0 0 29px 0;
        margin:0 0 5px 0;
        .tab:first-of-type{
            border-left:solid 1px $border;
        }
        .tab{
            border-top:solid 1px $border;
            border-right:solid 1px $border;
            font-family:monospace;
            min-width:150px;
            color:$tab-color;
            background:$inactive;
            padding: 8px 10px;
            border-left:none;
            ::-moz-selection { background: transparent; }
            ::selection { background: transparent; }
            &:hover{
                cursor:pointer;
                background:lighten($inactive, 5%);
            }
            &.active{
                background:white;
                border-bottom:solid 1px white;
                color:darken($tab-color, 15%);
            }
            i{
                padding-right:10px;
            }
        }
    }
    .active-tab-content{
        background:white;
        padding:30px 10px;
        border-left:1px solid white;
        border-top:1px solid white;
        .tab-content{
            overflow-x:hidden;
            overflow-y:auto;
            padding:10px;
            display:none;
            min-height:600px;
            background:white;
            &.active{
                display:block;
            }
        }
    }
}
