@import "common";

.page{
    .bar{
        min-height:186px;
        padding:10px;
        background:$theme;
    }
    .hidden{
        display:none !important;
    }
    .welcome{
        position:relative;
        height:160px;
        margin-bottom:10px;
        img{
            position:absolute;
            left:10px;
            top:0;
            height:160px;
            padding: 7px 20px;
            background:white;
            border-radius:100px;
        }
        span {
            font-style:italic;
            position:absolute;
            top:115px;
            left:177px;
            font-size:1.4em;
            position: relative;
            background: $bubble-color;
            border-radius: .4em;
            padding:20px;

            &:after{
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                width: 0px;
                height: 0;
                border: 15px solid transparent;
                border-right-color: $bubble-color;
                border-left: 0;
                border-bottom: 0;
                margin-top: -3px;
                margin-left: -14px;
            }
        }
    }
    .footnote{
        padding:10px 5px;
        font-size:0.8em;
        font-style:italic;
        color:white;
    }
    .control-table{
        width:100%;
        td + td{
            padding-left:10px;
        }
    }
    .twitter-feed{
        padding-top:35px;
    }
    .social-wrap{
        margin-top:25px;
        width:100%;
        .social{
            display:inline;
            font-size:1.3em;
            &+.social{
                margin-left:20px;
            }
            a{
                i{
                    padding-right:5px;
                    color:$social;
                }
                color:white;
                text-decoration:none;
                padding-left:10px;
            }
        }
    }
    .entry{
        font-size:1.05em;
        > .topic{
            display:block;
            font-weight:normal;
            font-size:1.3em;
            padding:10px 0;
            border-radius:5px;
            background: $bubble-color;
            margin:0;
            span:not(.publish-meta){
                padding:10px 5px;
                margin-right:10px;
                background: lighten($bubble-color,5%);
                border-radius: 5px 0 0 5px;
                border-right: 1px solid white;
            }
            .publish-meta{
                float:right;
                font-style:italic;
                padding-right:10px;
                font-size:0.7em;
            }
        }
        input[type="checkbox"]{
            position:absolute;
            left:-9999px;
        }
        input:checked ~ .entry-content{
            display:none;
        }
        .entry-content{
            padding:10px;
            h4{
                font-size:1.1em;
                color:lighten(black, 10%);
                font-weight:normal;
            }
            h5{
                padding-left:10px;
                font-weight:normal;
            }
            p{
                margin: 10px 0;
                padding:0 10px;
            }
            .quote{
                font-style:italic;
                padding:5px 0 5px 40px;
                margin:0px;
            }
        }
    }
}