@import "common";

.page{
	min-width:800px;
	.offscreen{
		position:absolute;
        left:-1000px;
	}
    .bar{
        min-height:186px;
        padding:10px;
        background: $theme;
        margin-bottom:0px;
        margin-top:10px;
        border-radius:2.5px;
        &:first-of-type{
            margin-bottom:10px;
            margin-top:0px;
        }
    }
    .hidden{
        display:none !important;
    }
    .welcome{
        position:relative;
        height:160px;
        margin-bottom:10px;
        img{
            position:absolute;
            left:10px;
            top:0;
            height:160px;
            padding: 7px 20px;
            background:white;
            border-radius:100px;
        }
        span {
            font-family:monospace;
            font-style:italic;
            position:absolute;
            top:115px;
            left:177px;
            font-size:1.4em;
            position: relative;
            background: $bubble-color;
            border-radius: .4em;
            padding:20px;

            &:after{
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                width: 0px;
                height: 0;
                border: 15px solid transparent;
                border-right-color: $bubble-color;
                border-left: 0;
                border-bottom: 0;
                margin-top: -3px;
                margin-left: -14px;
            }
        }
    }
    .about-me{
        $bordergray: #bbbbbb;
        $titlegray: #888888;
        $offwhite:#fafafa;
        max-width:8.5in;
        border-top:30px solid $bordergray;
        border-left:1px solid $bordergray;
        border-right:1px solid $bordergray;
        border-bottom:1px solid $bordergray;
        padding: 10px 1in 0 1in;
        >div{
            margin-bottom: 10px;
        }
        .i-am{
            font-style:italic;
        }
        .tools{
            background: $offwhite;
            padding: 10px;
            border: solid 1px $bordergray;
            border-radius: 2.5px;
            > h4{
                margin: 0 0 10px 0;
                font-weight:normal;
                border-bottom:1px solid $bordergray;
                padding-bottom:10px;
            }
            .tool-breakdown{
                h4{
                    margin: 0;
                    font-weight:normal;
                    color:$titlegray;
                }
                ul{
                    font-size:0.8em;
                    margin: 0;
                }
            }
        }
        .personal-life{
            margin-top:30px;
            >h4{
                font-weight:normal;
                margin:0 0 10px 0;
                padding-bottom:10px;
                border-bottom: solid 1px $bordergray;
                color:$titlegray;
            }
            >div{
                margin-bottom:10px;
            }            
        }
    }
    .footnote{
        padding:10px 5px;
        font-size:0.8em;
        font-style:italic;
        color:white;
    }
    .control-table{
        width:100%;
        td + td{
            padding-left:10px;
        }
    }
    .twitter-feed{
        padding-top:35px;
    }
	@media only screen and (max-width: 1000px) {
		.twitter-feed {
			display: none;
		}
		.welcome {
			span{
				display: none;			
			}
		}
	}
    .social-wrap{
        margin-top:25px;
        width:100%;
        .social{
            display:inline;
            font-size:1.3em;
            &+.social{
                margin-left:20px;
            }
            a{
                i{
                    padding-right:5px;
                    color:$social;
                }
                color:white;
                text-decoration:none;
                padding-left:10px;
            }
        }
    }
	.blog-index{
	    padding:5px 10px;
	    list-style-type:none;
	    li{
	        padding:10px;
	        a{
	            text-decoration:none;
	            color:saturate($primary, 50%);
	            &:visited{
                    color:darken($primary, 10%);
	            }
	        }
            &:hover{
                cursor:pointer;
                background:lighten($primary, 40%);
            }
	    }
		&:first-of-type{
		    margin-top:0px;
		}
		.publish-date{
		    padding-right:20px;
		    font-size:0.8em;
		    font-style:italic;
		}
	}
}